# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# Python / Backend
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Environment variables
.env
.env.production

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
